﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <!-- <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css?family=Telex" rel="stylesheet">
        <script src="https://use.fontawesome.com/09dade67da.js"></script>        
        <style>
            body{ font-family: 'Telex', sans-serif; width: 100%; margin: 0; padding: 0; }
            .master{ 
                background:url("http://sportlink.com.br/wp-content/uploads/2017/03/grama-artificial-esportiva.jpg"); 
                background-size: cover; position: absolute; height: 100%;
                float: left; width: 100%;
            }
            .bg-syn1{ background: #80c89a; }
            .bg-syn3{ background: #c1d001; }
            .bg-white{ background: #fff;}
            .cl-white{ color: #fff;}
            .cl-syn1{ color: #80c89a; }
            .cl-syn3{ color: #c1d001; }
            .bold{ font-weight: 600;}
            .detail{ height: 15px;}
            .full{width: 100%; float: left;}
            .margin-tb-5{margin:5px 0;}
            .no-padding{padding: 0;}
            .icon-check{ color: #01a050; font-size: 3em; }
            .container-top img{ float: right; }
            .container-content{ text-align: center; padding: 150px 0 0 0; }
            .container-content h1{ font-size: 2.5em; }
            .col-6{ width: 60%; float: left; box-sizing: border-box;}
            .col-4{ width: 40%; float: left; box-sizing: border-box;}
            .container-footer{ border-top: 1px solid #c3dbcb; bottom: 0; position: absolute;}
            .container-footer .content-right{ padding:15px 0 20px 50px; font-size: 1em; font-weight: 900;}
            .container-footer .content-left{ padding:20px; }

            @media screen and (max-width: 520px) {
                .col-6{ width: 100%; }
                .col-4{ width: 100%; }
                .container-footer .content-right{ padding:0 20px;}
            }
			
			
			
        </style>
    </head>
    <body>
        <div class="master">
            <div class="full bg-syn1 detail"></div>
            <div class="full container-top bg-white">
                <img src="http://futebolatino.com.br/arqsist/uploads/2017/06/188bet_logo.jpg" style="max-width: 118px;max-height:150px;width: auto;height: auto;" alt="Syngenta">
                <img src="http://api.devsyngenta.megaleios.kinghost.net/content/distribuicao.jpg" style="display: none" alt="Distribuição">
            </div>
            <div class="full">
                <div class="container-content">
                    <img style="display:none" src="http://api.devsyngenta.megaleios.kinghost.net/content/circle-check.png" alt="">
                 <h3 class="cl-white margin-tb-5 cl-syn3"> Ola {{user.Name}} </h3>
                    <h3 class="cl-white margin-tb-5 cl-syn3"> Sua nova senha de acesso é : {{user.password}}.</h3>
                </div>
            </div>
            <div class="full container-footer">
                <div class="col-12 col-6 content-left">
                    <img src="http://api.devsyngenta.megaleios.kinghost.net/content/logo-vendeu-ganhou.png" alt="Vendeu Ganhou" style="display: none">
                </div>
                <div class="col-12 col-4 content-right" style="display: none">
                    <p class="margin-tb-5 cl-syn3 "> UM DIFERENCIAL PARA O CONSULTOR.</p>
                    <p class="margin-tb-5 cl-syn3 "> UM DIFERENCIAL PARA A REVENDA. </p>
                </div>
            </div>
        </div>
    </body>
</html>